@font-face{
    font-family: calculator;
    src: url("calculator/Calculator.ttf");
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    display: grid;
    align-items: center;
    grid-template-areas: "faixa1 titulo1 faixa2" "faixa1 calculadora faixa2" "faixa1 titulo2 faixa2";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
}

h1 {
    font-size: 15em;
    margin: 0;
}

h1::before, h1::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
    margin: 0;
}

#titulo1 {
    color: #f38d9954;
    grid-area: titulo1;
    justify-self: flex-start;
}

#titulo2 {
    color: #f38d9954;
    grid-area: titulo2;
    justify-self: flex-end;
}

#calculadora {
    align-items: center;
    background-color: #65a1c4e7;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    grid-area: calculadora;
    margin: 0;
    padding: 20px;
    width: 280px;
}

#tela {
    width: 100%;
    height: 65px;
    background-color: #fcb4bcbb;
    border-radius: 10px;
    color: #02466be7;
    font-family: calculator;
    font-size:52px;
    padding: 1px;
    text-align: right;
}

.tela-erro {
    font-size: 20px;
    font-weight: bold;
    margin-top: 18px;
    padding:10px;
}

.tela-erro-muitos-numeros::first-letter {
    float: left;
    font-size: 30px;
    font-weight: bold;
    margin-right: -30px;
    margin-top: 18px;
    padding:0;
}

#teclas {
    list-style-type: "";
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    margin-bottom: 0;
    gap: 4px;
}

button {
    width: 56px;
    height: 50px;
    font-size: 28px;
    border-radius: 10px;
    background: #ed5564c5;
    color: #02466be7;
    border: 3px outset #f15161c5;
}

.faixa {
    background-color: #f88a9795;
    align-self: stretch;
    justify-self: stretch;
}

#faixa1 {
    grid-area: faixa1;
}

#faixa2 {
    grid-area: faixa2;
}